/*
 * Global styling for the whole application lives here
 */

/* IMPORTS */

@require '~vuetify/src/stylus/main.styl'

/* CLASSES */

.input-group__details:before
    padding 1px 0px

.input-group__prepend-icon.fa
    font-size 1.5em
    text-align center

.fr
    float right

.fl
    float left

.fa
    font-size 1.5em !important

.fade-3
    background-color rgba(0,0,0,0.3) !important

.fade-5
    background-color rgba(0,0,0,0.3) !important

.fade-7
    background-color rgba(0,0,0,0.7) !important

.color-controls
    .input-group__details
        &::before,
        &::after
            display none

.tos-container
  padding 4em
  ul
    padding-left 20px
    padding-bottom 20px
  img 
    max-width 250px
    padding-bottom 3em
            
.content
    padding-bottom 10em !important
    
.form-btns
    margin-top 10px
    margin-left -10px